.admin-panel-places-list
    padding-top: 50px
    width: 90%
    max-width: 1500px
    position: relative
    left: 50%
    transform: translateX(-50%)
    color: #000
    .admin-panel__header
        font-size: 30px
    .admin-panel-places-list__table
        tr
            background-color: #fff
        tr:nth-child(odd)
            background-color: #dbdbdb
        tr:nth-child(1)
            background-color: transparent
        td
            padding: 10px
        .admin-panel__remove-button
            background-color: transparent
            border: 0
            cursor: pointer
            color: #000
            
            
